#################
# C++.gitignore #
#################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

###########
# VS Code #
###########
.vscode/

#######################
# Temporary Directory #
#######################
temp/

# Mac
.DS_Store

# Node.js
node_modules/
dist/
pg_answer_easy/

tools/
!tools/generate_md.mjs